<div class='form'>
    <input type='text' id='todoTitle' class='inputs' ng-model='$ctrl.viewTitle' placeholder='Name of List'>
    <button class='inputButton' ng-click='$ctrl.createList()'> + </button>
</div>
<br><br>
<ul class='lists'>
    <li ng-repeat='(key, value) in $ctrl.lists'>

        <span class='item clickable' editable-text='key' e-form='editButtonForm' ng-click='$ctrl.gotoList(key)'> {{ key | capFirst }} ({{ value.length }})</span>
        <button id='editButton' class="btn btn-default fa fa-pencil" ng-click="editButtonForm.$show()" ng-hide="editButtonForm.$visible"></button>
        <button id='deleteList' ng-click='$ctrl.deleteList(key)'>x</button>

    </li>
</ul>